{% extends 'base.html' %}
{% block body %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}! Your score is {{score}}
        <p><a href="{% url 'logout' %}">logout</a></p>
        <ul>
        {% for result in res %}
            <li> {{result.score}} {{result.probs}} : {% for r in result.res %}{{r}}{% endfor %} </li>
        {% endfor %}
        </ul>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}